body{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-family: sans-serif;
    font-weight: bolder;
}

input{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

#form{
    width: 40%;
}

button{
   background-color: purple;
   color: white;
   border: none;
   width: 100%;
   height: 40px;
   box-sizing: border-box;
   border-radius: 10px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(82, 67, 0);
}

h3{
    font-family: sans-serif;
}